.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 150px;
    border: none;
    padding: 16px;
    background-color: var(--textColor);
    color: var(--background);
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    text-decoration: underline;
}

.button:disabled {
    background-color: var(--background);
    color: var(--textColor);
    border: solid var(--textColor);
    cursor: text;
}