.postContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 50px;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userIconContainer {
    width: 50px;
    height: 50px;
    position: relative;
}

.icon {
    border-radius: 50%;
    object-fit: cover;
}

.userTextContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
}

.username {
    font-size: 20px;
    font-weight: 500;
}

.imageContainer {
    height: 600px;
    width: 100%;
    position: relative;
}

.image {
    object-fit: cover;
}

.content {
    margin-top: 60px;
    font-size: 20px;
}

.content p {
    font-weight: 300;
    margin-bottom: 20px;
}

@media screen and (max-width: 1536px) {
    .title {
        font-size: 54px;
    }
}

@media screen and (max-width: 1280px) {
    .title {
        font-size: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .imageContainer {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 36px;
    }

    .content {
        font-size: 18px;
    }
}