.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.wrapper {
    background-color: var(--softbackGround);
    padding: 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    border-radius: 10px;
}

.socialButton {
    padding: 20px 40px;
    border-radius: 9999px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
}

.socialButton > img {
    padding-left: 3px;
}

.socialButton:first-child {
    background-color: #ff555f;
}

.socialButton:nth-child(2) {
    background-color: black;
}

@media screen and (max-width: 640px) {
    .wrapper {
        padding: 30px;
    }

    .socialButton {
        font-weight: 400;
        font-size: 14px;
    }
}

