@media screen and (min-width: 1024px) {
    .posts {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 65px;
        grid-auto-rows: min-content;
    }
}