.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 65px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 1%;
}

.container:hover {
    text-decoration: none;
    box-shadow: 0 0 5px var(--softTextColor);
}

.imgContainer {
    height: 350px;
    position: relative;
}

.image {
    object-fit: cover;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px 20px 20px;
}

.date {
    color: gray;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description {
    font-size: 18px;
    font-weight: 300;
    color: var(--softTextColor);
}