.link {
    cursor: default;
    pointer-events: none;
}

.link:hover {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 0 0 transparent;
    border-radius: 2%;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: box-shadow 0.3s ease-out, opacity 0.8s ease-out, transform 0.8s ease-out;
    cursor: pointer;
    pointer-events: auto;
}

.container:hover {
    box-shadow: 0 0 8px var(--softTextColor);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.imgContainer {
    height: 350px;
    position: relative;
}

.image {
    object-fit: cover;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 40px;
}

.date {
    color: gray;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description {
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
    min-height: 30px;
}

.textContainer h1, .description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

@media screen and (max-width: 768px) {
    .textContainer h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 640px) {
    .imgContainer {
        height: 250px;
    }

    .textContainer h1 {
        font-size: 20px;
    }
}