.title {
    width: 100%;
    padding: 50px 0;
    font-size: 64px;
    border: none;
    outline: none;
    background-color: transparent;
}

.title::placeholder {
    color: #b3b3b1;
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 700px;
}

.button, .addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button {
    padding-bottom: 2px;
    padding-left: 1px;
}

.addButton {
    border-color: #1a8917;
}

.add {
    display: flex;
    gap: 20px;
    background-color: var(--background);
    align-items: center;
}

.textArea {
    width: 100%;
}

.publish {
    width: 150px;
    border: none;
    padding: 15px;
    background-color: var(--textColor);
    color: var(--background);
    cursor: pointer;
    font-weight: bold;
}