.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    width: 100%;
    padding: 30px 0;
    font-size: 64px;
    border: none;
    outline: none;
    background-color: transparent;
}

.title::placeholder {
    color: #b3b3b1;
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 40vh;
}

.buttons {
    display: flex;
    gap: 20px;
    background-color: var(--background);
    align-items: center;
}

.expandButton, .addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
}

.addButton {
    border-color: #1a8917;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.isVisible {
    opacity: 1;
    transform: translateX(0);
}

.fileContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-height: 24px;
}

.removeButton {
    color: crimson;
}

.textArea {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.publish {
    width: 150px;
    border: none;
    padding: 17px;
    background-color: var(--textColor);
    color: var(--background);
    cursor: pointer;
    font-weight: bold;
}