.container {
    margin-top: 30px;
}

.title {
    font-size: 72px;
}

.let {
    color: crimson;
}

.us {
    color: lime;
}

.start {
    color: gold;
}

.the {
    color: dodgerblue;
}

.game {
    color: lime;
}