.container {
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 100px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 80px;
}

.links {
    display: flex;
    align-items: center;
    gap: 18px; 
    font-size: 20px;
    position: absolute;
    right: 80px;
}

@media screen and (max-width: 1024px) {
    .logo {
        left: 40px;
    }

    .links {
        right: 40px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        margin-bottom: 50px;
    }
    
    .logo {
        left: 50%;
        transform: translateX(-50%);
    }

    .link {
        display: none;
    }
}