.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.links {
    display: flex;
    align-items: center;
    gap: 1.25rem; 
    font-size: 20px;
}

@media screen and (max-width: 640px) {
    .links {
        justify-content: flex-end;
    }

    .link {
        display: none;
    }
}