.container {
    margin-top: 100px;
}

.title {
    color: var(--softTextColor);
    margin-bottom: 30px;
}

.write {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.input {
    padding: 20px;
    width: 100%;
    border: 2px solid #ccc;
    color: black;
}

.button {
    padding: 16px 20px;
    background-color: var(--textColor);
    color: var(--background);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comments {
    margin-top: 50px;
}

.comment {
    margin-bottom: 50px;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.icon {
    position: relative !important;
    border-radius: 50%;
    object-fit: cover;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
}

.username {
    font-weight: 500;
}

.date {
    font-size: 14px;
}

.description {
    font-size: 18px;
    font-weight: 300;
}